/* перемение сайта*/

:root {
  /* текст */
  --main-text: 'Roboto', sans-serif;
  --logo-text: 'Raleway', sans-serif;
  /* цвета текста */
  --main-text-color: #212121;
  --acсent-color: #2196f3;
  --main-text-grey: #757575;
  --main-light: #ffffff;

  /* цвета фона */
  --background-dark: #2f303a;
  --background-light: #e5e5e5;
  --background-grey: #f5f4fa;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--main-text);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.list .link,
.list .item {
  text-decoration: none;
  font-style: normal;
}
.list {
  list-style: none;
}

.list,
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

/* основной цвет #212121 */
/* вторичний цвет #757575 */
/* белий основ #FFFFFF */
/* основ голуб #2196F3 */
/* вторичние цвет фона #2F303A */

/* container site - контейнери сайта */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: aqua;
  outline: 2px solid tomato;
}

/* header site -шапка сайта  */

/* nav site -навигатор сайта */

/*logo-site логоти сайта*/
.logo {
  color: var(--main-text-color);
  font-family: var(--logo-text);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-web {
  color: var(--acсent-color);
}

.nav.link,
.contact.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-text-color);
}

.contact.link {
  color: var(--main-text-grey);
}
/* контакти */
.cotacts.list {
  font-weight: 500;
}
.nav.link.current {
  color: var(--acсent-color);
}

/* hover i focus */
.nav .link:hover,
.nav .link:focus,
.nav .link:active,
.footer-address .link:hover,
.footer-address .link:focus,
.contact.link:hover,
.contact.link:focus {
  color: var(--acсent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* portfolio */
/* .section {
  background-color: var(--background-light);
} */

.filter {
  margin-bottom: 34px;
}
.button {
  text-align: center;
  display: inline;
}
.btn {
  font-family: var(--main-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: 0;
  background: var(--background-grey);
  border-radius: 4px;
}
.btn:hover,
.btn:focus,
.btn:active {
  background-color: var(--acsent-cololr);
  color: var(--main-light);
}
.btn.activ {
  background-color: var(--acsent-cololr);
  color: var(--main-light);
}
.section.main {
  display: flex;
  flex-wrap: wrap;
}
.section.item {
  width: 370px;
  height: 404px;

  background-color: var(--main-light);
}

.section-imeg {
  height: 294px;
}
/* заголовки */
.extreme {
  margin-right: 0;
}
.item-title {
  width: 322px;
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
}
/* text */
.section-text {
  width: 322px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-grey);
}

/* footer site-подвал сайта */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-dark);
}
.logo-footer {
  display: inline-block;
  margin-bottom: 20px;

  font-family: var(--logo-text);
  color: var(--main-light);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.address-googl a {
  color: var(--main-light);
}
.footer-address a {
  color: rgba(255, 255, 255, 0.6);
}
.address {
  line-height: 1.71;
}
/* portfolio */
.section-result {
  display: flexbox;
}
