/* перемение сайта*/

:root {
  /* текст */
  --main-text: 'Roboto', sans-serif;
  --logo-text: 'Raleway', sans-serif;
  /* цвета текста */
  --main-text-color: #212121;
  --acsent-cololr: #2196f3;
  --main-text-grey: #757575;
  --main-light: #ffffff;

  /* цвета фона */
  --background-dark: #2f303a;
  --background-light: #e5e5e5;
  --background-grey: #f5f4fa;
}
body {
  font-family: var(--main-text);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  background-color: var(--main-light);
}

.list .link,
.list .item {
  list-style: none;
  text-decoration: none;
  font-style: normal;
}

/* основной цвет #212121 */
/* вторичний цвет #757575 */
/* белий основ #FFFFFF */
/* основ голуб #2196F3 */
/* вторичние цвет фона #2F303A */

/* .shapka */

/* навигатор сайта */

/*логотип*/
.logo {
  color: var(--main-text-color);
  font-family: var(--logo-text);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-web {
  color: var(--acsent-cololr);
}

/* site-nav */
.nav.link,
.contact.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-text-color);
}
.contact.link {
  color: var(--main-text-grey);
}
/* контакти */
.cotacts.list {
  font-weight: 500;
}
.nav.link.current {
  color: var(--acsent-cololr);
}

/* hover i focus */
.nav .link:hover,
.nav .link:focus,
.nav .link:active,
.footer-address .link:hover,
.footer-address .link:focus,
.contact.link:hover,
.contact.link:focus {
  color: var(--acsent-cololr);
}

/* section 1 */
/* .section {
  background: var(--background-light);
} */
.section.main {
  background-color: var(--background-dark);
  height: 600px;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-light);
  padding: 200px 452px 40px 452px;
}

.main .btr {
  width: 200px;
  height: 50px;
  text-align: center;
  margin-left: 700px;
  font-family: var(--main-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-light);
  background: var(--acsent-cololr);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* особености услуг */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.description.title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  padding-right: 30px;
}
.disc-text {
  line-height: 1.71;
  color: var(--main-text-grey);
  padding-right: 30px;
  width: 270px;
  height: 75px;
}

/* чем занимаемся */
.section.titele {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  padding-bottom: 50px;
}
.what-doing {
  text-align: center;
  /* background-color: var(--background-light); */
}
.what-doing .list {
  display: flex;
  padding-left: 215px;
  padding-right: 215px;
  padding-bottom: 94px;
}
.imeges {
  width: 370px;
  height: 294px;
}
.imeges.fron {
  padding-left: 30px;
  padding-right: 30px;
}
/* Наша команда */
/* .section.team {
  background-color: var(--background-grey);
} */
.team.titeleh2 {
  padding-top: 94px;
}
.team.list {
  display: flex;
  padding: 0 215px 94px 215px;
}

.team-imeges {
  height: 260px;
}
.team.item {
  width: 270px;
  height: 368px;
  margin-right: 30px;
  text-align: center;
  background-color: var(--main-light);
}
.team-imeges .michael {
  margin-right: 0;
}

.team-titel {
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 1.19;

  color: var(--main-text-color);
}
.team-text {
  color: var(--main-text-grey);
  padding-bottom: 30px;
}
/* footer */
.footer {
  background-color: var(--background-dark);
  height: 132px;
  padding: 60px 0 60px 215px;
}
.logo-footer {
  font-family: var(--logo-text);
  color: var(--main-light);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.address-googl a {
  color: var(--main-light);
}
.footer-address a {
  color: rgba(255, 255, 255, 0.6);
}
.address {
  padding-top: 20px;

  line-height: 1.71;
}
/* portfolio */
.section-result {
  display: flexbox;
}
